<div id="fullpage">
	<div class="section" id="section1"><h1>Lovely images <br />for a lovely page</h1></div>
	<div class="section" id="section2"><h1>Lovely images <br />for a lovely page</h1></div>
	<div class="section" id="section3"><h1>One Image = One thousand words</h1></div>
	<div class="section" id="section4"><h1>One Image = One thousand words</h1></div>
	<div class="section" id="section5">
		<div id="subsection1"></div>
		<div id="subsection2"></div>
	</div>
</div>
