<div id="fullpage">

	<div class="section" id="section1">
		<div class="heading">
			<h1 class="logo">UI/To/UX</h1>
			<h2>Advertising / Web Developement / Print</h2>
		</div>
	</div>

	<div class="section" id="section2">
		<div class="heading">
			<h2>Get Found.</h2>
			<div class="content">
				<p>The world is huge. Its not just about getting found, its about getting found by the right people.</p>
				<div class="links">
					<a class="link first" href="#">Learn about our advertising process</a>
				  <a class="link last" href="#">Check out some of our best work</a>
				</div>
			</div>
		</div>
	</div>

<div class="section" id="section3">
	<div class="heading">
		<h2>If you build it...</h2>
		<div class="content">
			<p>They will come. Whether its a website, app or whatever else you can imagine we can help make it happen.</p>
		</div>
	</div>
</div>

<div class="section" id="section4">
<div class="heading">
	<h2>Prints not dead.</h2>
	<div class="content">
		<p>Sometimes the best way to get the word out is the old fashioned way.</p>
	</div>
</div>
</div>


	<div class="section" id="section5">
		<div id="subsection1">
		<h2>Contact Us</h2>
		</div>
		<div id="subsection2"></div>
	</div>

</div>
