@CHARSET "UTF-8";

//Fonts
@import url(https://fonts.googleapis.com/css?family=Alfa+Slab+One|Droid+Serif:400,700);

@font-face {
    font-family: 'futurist-regular';
    src: url('/fonts/futrfw-webfont.eot');
    src: url('/fonts/futrfw-webfont.eot?#iefix') format('embedded-opentype'),
         url('/fonts/futrfw-webfont.woff2') format('woff2'),
         url('/fonts/futrfw-webfont.woff') format('woff'),
         url('/fonts/futrfw-webfont.ttf') format('truetype'),
         url('/fonts/futrfw-webfont.svg#futurist_fixed-widthregular') format('svg');
    font-weight: normal;
    font-style: normal;

}

body{
	font-family: arial,helvetica;
	color: #333;
	color: rgba(0,0,0,0.5);
}

h1,h2,h3,h4,h5,h6 {
    font-weight: normal;
    font-size: 100%;
    margin:0;
    padding:0;
    color:#444;
    font-family: 'Alfa Slab One', cursive;
}


.wrap{
	margin-left: auto;
	margin-right: auto;
	width: 960px;
	position: relative;
}
h1{
	font-size: 6em;
}

h2 {
  font-size: 60px;
  color: #fff;
  text-shadow: 0 0 12px #565656;
  letter-spacing: 2px;
}

p{
	font-size: 2em;
}

div.section{
  background-size: cover;
  text-align:center;
	overflow: hidden;
}

div#subsection1{
  background-color: #4d4848;
  height: 75%;
  .heading{
    h2{
      font-size: 350%;
      padding-top: 4%;
      text-transform: lowercase;
    }
  }

  .left{
    float: left;
  }

  .form{
    width: 50%;
    margin-top: 3%;

    .form-item{
      width: 75%;
      margin-top: 10px;

      &#message{
        height: 120px;
      }

      &#name, &#email, &#message{
        padding: 20px;
        background-color: #3c3838;
        border: none;
        font-size: 30px;
        color: #989797;
      }
    }
  }

  .right{
    float: right;
    margin-top: 6%;

    input[type=submit]{
      margin-top: 5%;
      background-color: #000;
      border: none;
      color: #989797;
      width: 75%;
      padding: 20px;
      font-size: 20px;
      text-transform: lowercase;
    }

    fieldset{
      color: #989797;
      text-transform: lowercase;
      font-size: 20px;

      legend{
        margin-bottom: 5%;
        font-size: 30px;
      }

      .checkbox{
        width: 25px;
        height: 25px;
      }
    }
  }
}

div#subsection2{
  background-color: #000;
  height: 25%;

  .footer-col1, .footer-col2, .footer-col3, .footer-col4{
    width: 25%;
    color: #fff;
    float: left;
    margin: 2% 0;
    text-transform: uppercase;

    .footer-title{
      font-weight: bold;
    }
  }

  .copyright, .social-media{
    width: 25%;
    color: #fff;
    margin-top: 2%;
    text-transform: uppercase;
  }

  .copyright{
    text-align: left;
    padding-left: 8%;
    float: left;
  }

  .social-media{
    text-align: right;
    padding-right: 8%;
    float: right;
  }
}

div.links{
  margin-top: 20px;

  a{
    &.link{
      text-align: left;
      background-color: #000;
      color: #fff;
      display: block;
      margin-top: 10px;
      padding: 12px 10px;
      float: left;
      clear: both;
      text-decoration: none;
    }
  }
}

div#section1{
  background-image: url("/images/slides/main-image.jpg");
  .heading{
    h1,h2{
      color: #fff;
    }
    h1{
      font-size: 800%;
      text-transform: uppercase;
      font-family: 'futurist-regular';
    }
    h2{
      padding-top: 50px;
      text-transform: lowercase;
      font-size: 200%;
    }
  }
}

div#section2{
  background-image: url("/images/slides/get-found.jpg");
  .heading{
    width: 45%;
    margin-left: 6%;
    color: #fff;
    text-shadow: 0 0 10px #2d2d2d;
    text-transform: lowercase;

    .content{
      text-align: left;
      margin-top: 43px;
    }

    h2{
      text-transform: lowercase;
      text-align: left;
    }
  }
}

div#section3{
  background-image: url("/images/slides/build-it.jpg");
  .heading{
    color: #fff;
    text-shadow: 0 0 10px #2d2d2d;
    text-transform: lowercase;
    float: right;
    width: 45%;
    margin-right: 2%;

    .content {
      margin-top: 43px;
      text-align: left;
    }

    h2{
      text-transform: lowercase;
      text-align: left;
    }
  }
}

div#section4{
  background-image: url("/images/slides/prints-not-dead.jpg");
  .heading{
    color: #fff;
    text-shadow: 0 0 10px #2d2d2d;
    text-transform: lowercase;
    width: 45%;
    margin-left: 6%;

    .content{
      margin-top: 43px;
      text-align: left;
    }

    h2{
      text-transform: lowercase;
      text-align: left;
    }
  }
}

.advertising-page {
  .main-image {
    background-image: url("/images/slides/advertising.jpg");
  }
}
