<div class="advertising-page">
	<div class="main-image">
		<h1>Advertising</h1>
		<div class="main-menu">
			<ul>
				<li>Advertising /</li>
				<li>Web Development /</li>
				<li>Print</li>
			</ul>
		</div>
	</div>
	<div class="portfolio-items">
		<div class="item-1 even">Stafford Housing</div>
		<div class="item-2 odd">Clinic 45</div>
		<div class="item-3 even">Texas Weight Loss Center</div>
		<div class="item-4 odd">TxPrintCo</div>
		<div class="item-5 even">Pinnacle Education</div>
		<div class="item-6 odd">Clear Choice Clinic</div>
		<div class="item-7 even">D.A. Designers</div>
		<div class="item-8 odd">DJ Sameer</div>
	</div>


	<div class="section" id="section5">
		<div id="subsection1">
			<div class="heading">
				<h2>Contact Us</h2>
			</div>
			<form mehtod="post">
				<div class="form left">
					<input type="text" id="name" class="form-item" name="name" value="" placeholder="name" required="required" />
					<input type="email" id="email" class="form-item" name="email" value="" placeholder="email" required="required" />
					<textarea class="form-item" id="message" name="message" placeholder="message" required="required" data-minlength="20"></textarea>
				</div>
				<div class="form right">
					<fieldset>
						<legend>What can we help you with?</legend>
						<div class="group-one">
							<input class="checkbox" type="checkbox" name="advertising" value="Advertising" /> Advertising
							<input class="checkbox" type="checkbox" name="apps" value="Apps" /> Apps
							<input class="checkbox" type="checkbox" name="websites" value="Websites" /> Websites
						</div>
						<div class="group-two">
							<input class="checkbox" type="checkbox" name="print" value="Print" /> Print
							<input class="checkbox" type="checkbox" name="other" value="Other" /> Other
						</div>
					</fieldset>
					<input type="submit">
				</div>
			</form>
		</div>

		<div id="subsection2">
			<div class="footer-col1">
				<div class="footer-title">Call Us</div>
				<div class="footer-call-us">1.800.789.9736</div>
			</div>
			<div class="footer-col2">
				<div class="footer-title">Fax</div>
				<div class="footer-fax">1.877.789.6321</div>
			</div>
			<div class="footer-col3">
				<div class="footer-title">Email</div>
				<div class="footer-email">info@uitoux.com</div>
			</div>
			<div class="footer-col4">
				<div class="footer-title">Address</div>
				<div class="footer-address">10701 Corporate Dr Suite 209<br />Stafford, Tx 77477</div>
			</div>
			<hr />
			<div class="footer2-wrapper">
				<div class="copyright">UI To UX Inc 2015</div>
				<div class="social-media">Social Media Icons</div>
			</div>
		</div>
	</div>
</div>
