<div id="fullpage">

	<div class="section" id="section1">
		<div class="heading">
			<h1 class="logo">UI/To/UX</h1>
			<h2>Advertising / Web Developement / Print</h2>
		</div>
	</div>

	<div class="section" id="section2">
		<div class="heading">
			<h2>Get Found.</h2>
			<div class="content">
				<p>The world is huge. Its not just about getting found, its about getting found by the right people.</p>
				<div class="links">
					<a class="link first" href="#">Learn about our advertising process</a>
				  <a class="link last" href="#">Check out some of our best work</a>
				</div>
			</div>
		</div>
	</div>

<div class="section" id="section3">
	<div class="heading">
		<h2>If you build it...</h2>
		<div class="content">
			<p>They will come. Whether its a website, app, spaceship prototype or whatever else you can imagine we can help make it happen.</p>
			<div class="links">
				<a class="link first" href="#">Look at what we've made</a>
				<a class="link last" href="#">Products</a>
			</div>
		</div>
	</div>
</div>

<div class="section" id="section4">
<div class="heading">
	<h2>Prints not dead.</h2>
	<div class="content">
		<p>Sometimes the best way to get the word out is the old fashioned way.</p>
		<div class="links">
			<a class="link first" href="#">Check out some of our work</a>
			<a class="link last" href="#">What we print</a>
		</div>
	</div>
</div>
</div>


	<div class="section" id="section5">
		<div id="subsection1">
			<div class="heading">
				<h2>Contact Us</h2>
			</div>
			<form mehtod="post">
				<div class="form left">
					<input type="text" id="name" class="form-item" name="name" value="" placeholder="name" required="required" />
					<input type="email" id="email" class="form-item" name="email" value="" placeholder="email" required="required" />
					<textarea class="form-item" id="message" name="message" placeholder="message" required="required" data-minlength="20"></textarea>
				</div>
				<div class="form right">
					<fieldset>
						<legend>What can we help you with?</legend>
						<div class="group-one">
							<input class="checkbox" type="checkbox" name="advertising" value="Advertising" /> Advertising
							<input class="checkbox" type="checkbox" name="apps" value="Apps" /> Apps
							<input class="checkbox" type="checkbox" name="websites" value="Websites" /> Websites
						</div>
						<div class="group-two">
							<input class="checkbox" type="checkbox" name="print" value="Print" /> Print
							<input class="checkbox" type="checkbox" name="other" value="Other" /> Other
						</div>
					</fieldset>
					<input type="submit">
				</div>
			</form>
		</div>
		<div id="subsection2">
			<div class="footer-col1">
				<div class="footer-title">Call Us</div>
				<div class="footer-call-us">1.800.789.9736</div>
			</div>
			<div class="footer-col2">
				<div class="footer-title">Fax</div>
				<div class="footer-fax">1.877.789.6321</div>
			</div>
			<div class="footer-col3">
				<div class="footer-title">Email</div>
				<div class="footer-email">info@uitoux.com</div>
			</div>
			<div class="footer-col4">
				<div class="footer-title">Address</div>
				<div class="footer-address">10701 Corporate Dr Suite 209<br />Stafford, Tx 77477</div>
			</div>
			<hr />
			<div class="footer2-wrapper">
				<div class="copyright">UI To UX Inc 2015</div>
				<div class="social-media">Social Media Icons</div>
			</div>
		</div>
	</div>

</div>
